<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dvasylev</title>
    <link rel="stylesheet" type="text/css" th:href="@{../main.css}" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
</head>
<body>
<header>
    <div class="container">
        <div class="heading clearfix">
            <nav>
                <ul class="menu">
                    <li>
                        <p class="header">Dvasylev</p>
                    </li>
                    <li>
                        <a href="/" style="color: black">Home</a>
                    </li>
                    <li>
                        <a href="/" style="color: black">Services</a>
                    </li>
                    <li>
                        <a href="/" style="color: black">Portfolio</a>
                    </li>
                    <li>
                        <a href="/about" style="color: black">About</a>
                    </li>
                    <li>
                        <a href="/" style="color: black">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
    <p class="text">I am Vasylev Danyyl, creator web application and Java Web Developer</p>
</div>
</body>
</html>
